html,
body {
    height: 100%;
}

.container-fluid,
.row,
.col {
    height: 100%;
}

.list-group-item {
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: grey;
}
