.container{
   height: 90vh;
   margin-top: 30px;
}
.card{
    width: 20rem; 
}
h5{
   text-align: center;
   margin-top: 20px;
}
#username::placeholder,
#password::placeholder {
    font-size: smaller;
    color: white; 
}
.for-check-label{
    font-size: smaller;
}
.form-check-label{
     font-size: small;
}
#rememberCheck{
    margin-left:-11px;
}
#forgot{
   font-size: smaller;
   margin-left:75px;
   margin-top: 20px;
}
h4{
    color:gray;
    font-size: small; 
    padding-left:25px;
    margin-top: 5px;
}
#signUp{
   font-size: smaller;
   margin-left:1px;
   margin-top: 2px;
}
#google{
    font-size: smaller;
}
#facebook{
    margin-top: 7px;
    font-size: smaller;  
}
#apple{
    margin-top: 7px;
    font-size: smaller;
}
#login{
    margin-top: 4px;
}
#or{
    margin-left: 130px;
}

  