.container{
    height: 120vh;
    margin-top: 60px;
}
 .card{
    width: 30rem; 
}
#mainheading{
    text-align: center;
    margin-top: 35px;
}
.for-check-label{
    font-size: small;
    margin-right: 100px;
}
p{
    font-size: x-small;
}
#emailaddress::placeholder,
#password::placeholder,
#callname::placeholder{
    color: white; 
    font-size: smaller;
}
#phonenumber{
    color:#FFC107; 
    font-size: x-small;
}
.form-check-label{
    color: white;
    font-size: smaller;  
}
#Gender{
    margin-left:30px;
}
.form-check-input{
    margin-left: 25px;
}
#nottosay{
    margin-left: 21px;
}
#checkbox{
    color: white; 
    font-size: small; 
    margin-top: 10px;  
 }
 #rememberCheck{
    margin-left: 55px;
 }
#byclicking{
    font-size: x-small; 
    padding-left:50px;
}
#terms{
   color:#FFC107;
   font-size:x-small;
   padding-left:3px;
}
#tolearn{
    font-size: x-small; 
    padding-left:65px; 
    margin-top: 20px;
}
#privacy{ 
    font-size:x-small;
     padding-left:3px;
}
#account{
    font-size: small; 
    padding-left: 140px;
    margin-top: 5px;
}
#button{
    margin-top: 20px;
    text-align: center;
}
#login{ 
    padding-left:4px;
}
#google{
    font-size: smaller;
}
#facebook{
    margin-top: 10px;
    font-size: smaller;    
}
#or{
    margin-left: 210px;
    font-size: medium;
}











