<!-- <div class="container-fluid">
    <h1>{{title}}</h1>
    <hr>

<div class="form-group col-md-3">
    <label for="email">Email address</label>
    <input type="email" [value]="email" class="form-control" id="email" >
</div>
<div class="form-group col-md-3">
    <label for="password">Password</label>
    <input type="password" [value]="password" class="form-control" id="password" >
</div>
<button class="btn btn-primary mt-4" (click)="save()" >Save</button>
</div><br>
<img 
[src]="imageUrl"
[ngStyle]="{'width.px':imageWidth , 'height.px':imageHeight}"
><br><br>
<div class="form-group">
    <label for="imageWidth">image width</label>
    <input [(ngModel)]="imageWidth"  type="text">
</div><br>

<label for="imageHeight">image height</label>
<input [(ngModel)]="imageHeight"  type="text"> -->





<app-teamlist></app-teamlist>

 <!--one way binding -->

 <!-- <h3>One way data binding</h3>

<hr />

<h3 [textContent]="titleOne"></h3> -->


 <!--two way binding -->

 <!-- <h3>{{titleTwo}}</h3>
 <hr><br>
<input [(ngModel)]="titleTwo"  type="text">
 -->



  


